.friend-card {
  height: 812px;
  color: #fdffff;
  background: #2c2c2c;

  padding: 55px 20px 32px 20px;

  button {
    width: 40px;
    height: 40px;
  }

  &__header {
    .header-actions {
      color: #fff;
    }

    .header-photo {
      img {
        border-radius: 20px;
      }
    }
  }
}
